
<button color="primary" mat-raised-button style="width: 100%;" (click)="emitVoteNull()">NULO</button>
<div *ngFor="let candidate of listCandidates" class="positionCard">
    <mat-card class="example-card">
        <mat-card-header>
            <mat-card-title>{{candidate.politicName}}</mat-card-title>
        </mat-card-header>
        <mat-grid-list cols="2" rowHeight="200px">
            <mat-grid-tile>
                <img mat-card-image src="{{candidate.president.photo}}">
            </mat-grid-tile>
            <mat-grid-tile>
                <img mat-card-image src="{{candidate.vicePresidente.photo}}">
            </mat-grid-tile>
        </mat-grid-list>
        <mat-card-content>
    
            <mat-list>
                <mat-list-item>
                    Presidente : <b> {{candidate.president.fullname}}</b>
                </mat-list-item>
                <mat-divider></mat-divider>
                <mat-list-item>
                    Vicepresidente : <b> {{candidate.vicePresidente.fullname}}</b>
                </mat-list-item>
                <mat-divider></mat-divider>
            </mat-list>
        </mat-card-content>
        <mat-card-actions>
            <button color="primary" mat-raised-button style="width: 100%;" (click)="emitVoteAsign(candidate._id)">VOTAR</button>
        </mat-card-actions>
    </mat-card>
</div>

